.tododata-container {
  width: 100%;
}
.tododata-container .todo-data {
  width: 100%;
  border-bottom: 2px dotted #274661;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
.tododata-container .todo-data p {
  color: #8fa8c1;
  margin-bottom: 20px;
}
.tododata-container .todo-data .icons button{
  background: transparent;
  color: #8fa8c1;
  outline: none;
  border: none;

  font-size: 20px;
  margin-left: 15px;
}


.tododata-container .todo-data .icons .pen:hover{
  transform: scale(1.3,1.3);
  color: rgb(13, 171, 13);
 
}
.tododata-container .todo-data .icons .bin:hover{
  transform: scale(1.3,1.4);
  color: darkred;
  transition: all.1s ease;

}

 
